
<head prefix="og: http://ogp.me/ns# nodejsexpressdemo: http://ogp.me/ns/apps/nodejsexpressdemo#">
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>Sentenceit</title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="keywords" content="node.js, passport, express, mongoose, mongodb, jade, passport demo, swig, expressjs, node, nodejs"/>
  <meta name="description" content="Sentence App"/>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css"/>
  
  <link rel="stylesheet" href="/css/app.css"/>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-route/angular-route.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/sentencectrl.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52715932-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
